@mixin tablet {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: 1440px) {
    @content;
  }
}

@mixin onlyDesktop {
  display: none;

  @include desktop() {
    display: block;
    @content;
  }
}

@mixin container {
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;

  @include tablet() {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include desktop() {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@mixin innerWrapper {
  @include desktop() {
    width: 1268px;
    margin: 0 auto;
  }
}

@mixin h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 34px;

  @include tablet() {
    font-size: 72px;
    line-height: 72px;
  }
}

@mixin h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;

  @include tablet() {
    font-size: 56px;
    line-height: 64px;
  }
}

@mixin text-gradient ($color1, $color2) {
  background-image: linear-gradient(90deg, $color1 0%, $color2 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@mixin onlyTablet () {
  display: none;

  @include tablet() {
    display: block;
  }

  @include desktop() {
    display: none;
  }
}