@import '../../assets/scss/app.scss';

.button {
  border: none;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;

  @include tablet() {
    padding: 18px 32px;
    width: auto;
  }

  &__blue {
    background: linear-gradient(180deg, #117EFF 0%, #0657F5 100%);

    &:hover {
      background: #0657F5;
    }
  }

 &__grey {
   background: #20233F;
   backdrop-filter: blur(34px);

   &:hover {
     background: #181B36;
   }
 }

 &__white {
   background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.64) 100%);

   &:hover {
     background: #FFFFFF;
   }

   & span {
     color: #117EFF;
   }
 }

  span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

}